body {
  background-color: #efefef;
  padding: 1em;
}
.container {
  display: flex;
  width: 100%;
  height: 100%
}
.image {
  width: 250px;
  height: auto;
  align-self:flex-start;
  margin: 0 1em;
  border: 1px solid #ddd;
}
.text h1, .text h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 2em 0;
  padding: 0.5em;
  transform: rotate(90deg);
  background: lightblue;
  color: white;
}

a {
  color: teal;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}
